@mixin circle($size,$background) {
    border-radius: 50%;
    height: $size;
    width: $size;
    background-color: $background;
}

@mixin hide_text {
    text-indent: 110%;
    word-spacing: nowrap;
    overflow: hidden;
}

