// @import "reset";
@import "color";
@import "mix";
@import "module";
@import "grid";

.wrap {
  max-width: 1000px;
  background-color: #000;
  a {
    color: $fb_black;
    .share {
      background-color: $fb_black;
    }
  }
}

.box {
  @include hide_text;
  @include circle(5px, #000);
}

.button_orange {
  @include pad() {
    width: 500px;
  }
}
