@import "../utils/variables";
@import "../utils/mix";

.share {
  background-color: #f6f6f6;
  display: flex;
  justify-content: end;
  padding: 6px 15px;
}
.spanFace {
  color: $facebook;
}
.spanTwi {
  color: $twitter;
}
.spanFace:hover {
  color: $facebook;
  cursor: pointer;
}
.spanTwi:hover {
  color: $twitter;
  cursor: pointer;
}


