@import "../utils/variables";
@import "../utils/mix";

.share {
  background-color: #f6f6f6;
  display: flex;
  justify-content: end;
  padding: 6px 15px;
}
.spanFace {
  color: $facebook;
}
.spanFace::after {
  content: "";
  display: inline-block;
  background-color: #000;
  height: 16px;
  width: 1px;
  margin: 0 5px;
}
.spanTwi {
  color: $twitter;
}
.spanFace:hover {
  color: $facebook;
  cursor: pointer;
}
.spanTwi:hover {
  color: $twitter;
  cursor: pointer;
}
