@import "../utils/variables";
@import "../layout/grid";

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 22px;
  color: $hexschool;
  font-weight: bold;
  font-size: 15px;
  .menu {
    max-width: 250px;
    display: flex;
    justify-content: space-around;
    // 這裡只有21分
    a {
      display: block;
      height: auto;
      padding: 16px;
      text-decoration: none;
      color: #9ce5cd;
      /* a標籤權重1分 藍色會被蓋掉 .menu a的10+1分顏色蓋 */
      &:hover,
      &.active {
        padding: 16px;
        box-sizing: border-box;
        border-bottom: #00cc99 4px solid;
        cursor: pointer;
      }
      &:hover .nav_dropdown_open {
        display: block;
      }
    }
  }
}

.menu li:nth-child(2) {
  position: relative;
  // ul {
  //   display: none;
  // }
}
.nav_dropdown_open {
  display: none;
  top: 51px;
  text-align: center;
  background-color: #fff;
  z-index: 10;
  // 兩個class + 兩個標籤有22分
  li a {
    padding: 16px;
    box-sizing: border-box; //為何使用box-sizing: border-box; 後hover的底線還會多高度造成內文字移動???
    height: 48px; //高度寫死就不會推到文字
    &:hover {
      border-bottom: #00cc99 4px solid;
      cursor: pointer;
    }
  }
}
