.gradientBox {
  /* position: relative; */
  /* max-width: 1000px; */
  /* height: 400px; */
  padding-top: 35px;
  background: linear-gradient(#00654c, #009875);
  h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 5px;
}
}
.banner::after {
  display: block;
  content: "";
  background-color: black;
  height: 160px;
  opacity: 0.5;
}