.gradientBox {
  /* position: relative; */
  /* max-width: 1000px; */
  /* height: 400px; */
  padding-top: 35px;
  background: linear-gradient(#00654c, #009875);
  h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 5px;
  }
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 有繼承到父元素寬度 */
  /* width: 1000px; */
  height: 350px;
  /* 用div以外包的標籤會無效果 */
  background-image: url(../../img/banner.png);
  background-repeat: no-repeat;
  // 這邊在 .banner 設置 background-position: center; 以及 background-size: cover; 都有正常運作，
  // 是不是這些樣式沒有寫在 background-image 下面？同時高度部分要調整 height。
  background-position: right center;
  background-size: cover;
  height: 450px;
}
/* .bannerBox 設定的黑色背景可以移到 .banner 使用偽元素 ::after，這樣可以讓 html 結構更簡潔 */
.banner::after {
  display: block;
  content: "";
  background-color: black;
  height: 160px;
  opacity: 0.5;
}
.bannerInfor {
  position: absolute;
  color: white;
  font-size: 40px;
  padding-left: 30px;
  z-index: 100;
  h1 {
    padding-bottom: 14px;
  }
}
