@import "../layout/grid";

.table_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table_wrap h3 {
  font-weight: bold;
  padding-bottom: 35px;
  font-size: 25px;
}
.table_content {
  /* 不能用 max-width */
  /* width: 800px; */
  width: 90%;
  margin-bottom: 60px;
}
.table_content td,
.table_content tr th {
  padding: 15px 25px;
  border-top: 1px solid #dddd;
  border-bottom: 1px solid #dddd;
  text-align: left;
}
.table_content tr th {
  font-weight: bold;
  background-color: #f7f7f7;
}
.fontColor {
  color: red;
}
@include pad(){
.table_content{
  width: 95%;
  height: 500px;
    overflow-x: auto; //自動產生 X 軸捲軸
  }
}